/* menu.css */

.link-hovered {
  color: black; /* Change the color to black on hover */
}

.button-hovered {
  background-color: #ff413d; 
  color: #fff; 
}

/* Styles for screens with width <= 500px */
@media (max-width: 500px) {
  .menu-links {
    visibility: hidden;
    display: none;
  }

  .menu-icon {
    display: block !important;
  }

  .menu-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px 30px !important;
    visibility: visible;
    background-color: #f7f8f9;
    justify-content:center;
    align-items: center;
  }
  .menu-links.active button {
    border:0 !important;
    padding:15px 20px !important;
  }
}
